In [1]:
import piplite
await piplite.install(['seaborn', 'lxml', 'openpyxl'])
import pandas as pd

ModuleNotFoundError: No module named 'piplite'

In [2]:
import piplite
await piplite.install(['seaborn', 'lxml', 'openpyxl'])

import pandas as pd

ModuleNotFoundError: No module named 'piplite'

In [3]:
pip install seaborn lxml openpyxl

Requirement already satisfied: seaborn in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: lxml in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (4.9.1)
Requirement already satisfied: openpyxl in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: matplotlib>=2.2 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: pandas>=0.23 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.4.4)
Requirement already satisfied: numpy>=1.15 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.25.2)
Requirement already satisfied: scipy>=1.0 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from seaborn) (1.9.1)
Requirement already satisfied: et_xmlfile in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: packaging>=20.0 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pytz>=2020.1 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2022.1)
Collecting numpy>=1.15
  Downloading numpy-1.24.4-cp39-cp39-macosx_10_9_x86_64.whl (19.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.8/19.8 MB 30.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
WARNING: Error parsing requirements for panel: [Errno 2] No such file or directory: '/Users/nitishsah/opt/anaconda3/lib/python3.9/site-packages/panel-0.13.1.dist-info/METADATA'
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.25.2
    Uninstalling numpy-1.25.2:
      Successfully uninstalled numpy-1.25.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
holoviews 1.15.0 requires panel>=0.13.1, which is not installed.
daal4py 2021.6.0 requires daal==2021.4.0, which is not installed.
numba 0.55.1 requires numpy<1.22,>=1.18, but you have numpy 1.24.4 which is incompatible.
Successfully installed numpy-1.24.4
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
from pyodide.http import pyfetch

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

await download(filename, "addresses.csv")

df = pd.read_csv("addresses.csv", header=None)
df

ModuleNotFoundError: No module named 'pyodide'

In [6]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.arrayBuffer())

async def main():
    await download(filename, "addresses.csv")
    df = pd.read_csv("addresses.csv", header=None)
    print(df)

# Run the asynchronous code
import asyncio
asyncio.run(main())

ModuleNotFoundError: No module named 'pyodide'

In [7]:
import requests
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"

def download(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open(filename, "wb") as f:
            f.write(response.content)

download(filename, "addresses.csv")

df = pd.read_csv("addresses.csv", header=None)
print(df)

                       0         1                                 2  \
0                   John       Doe                 120 jefferson st.
1                   Jack  McGinnis                      220 hobo Av.
2          John "Da Man"    Repici                 120 Jefferson St.
3                Stephen     Tyler  7452 Terrace "At the Plaza" road
4                    NaN  Blankman                               NaN
5  Joan "the bone", Anne       Jet               9th, at Terrace plc

             3    4      5
0    Riverside   NJ   8075
1        Phila   PA   9119
2    Riverside   NJ   8075
3     SomeTown   SD  91234
4     SomeTown   SD    298
5  Desert City   CO    123

In [8]:
df.columns =['First Name', 'Last Name', 'Location ', 'City','State','Area Code']

In [9]:
df

,First Name,Last Name,Location,City,State,Area Code
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [10]:
df['First Name']

0                     John
1                     Jack
2            John "Da Man"
3                  Stephen
4                      NaN
5    Joan "the bone", Anne
Name: First Name, dtype: object

In [11]:
df = df[['First Name', 'Last Name', 'Location ', 'City','State','Area Code']]
df

,First Name,Last Name,Location,City,State,Area Code
0,John,Doe,120 jefferson st.,Riverside,NJ,8075
1,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
2,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
3,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
4,NaN,Blankman,NaN,SomeTown,SD,298
5,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [12]:
# To select the first row
df.loc[0]

First Name                 John
Last Name                   Doe
Location      120 jefferson st.
City                  Riverside
State                        NJ
Area Code                  8075
Name: 0, dtype: object

In [18]:
df.iloc[[0,1,2],1]

0         Doe
1    McGinnis
2      Repici
Name: Last Name, dtype: object

In [19]:
# To select the 0th,1st and 2nd row of "First Name" column only
df.iloc[[0,1,2], 0]

0             John
1             Jack
2    John "Da Man"
Name: First Name, dtype: object

In [20]:
name=['Lizz']

In [24]:
print(name[1:0])

[]

In [25]:
var='01234567'

In [26]:
print(var[::2])

0246

In [32]:
name1=("Lizz")
print(name[1:2])

[]

In [33]:
Name="abcde"
Name.find("b")

1

In [34]:
int(3.99)

3

In [35]:
1/2

0.5

In [36]:
1//2

0

In [37]:
x=2/2

In [42]:
x=2/2

In [43]:
type(x)

float

In [44]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [49]:
x =1
if(x!=1):
    print('hello')
else:
    print('Hi')
    print('mike')

Hi
mike

In [53]:
def add(x):
    return(x+x) 
add(1)

2

In [54]:
A=['1','2','3'] 
for a in A:
    print(2*a)

11
22
33

In [55]:
for i in range(1,5):
    if(i!=2):
        print(i)

1
3
4

In [56]:
import numpy as np
a=np.array[(0,1,0,1,0)]
b=np.array([1,0,1,0,1])
a*b

TypeError: 'builtin_function_or_method' object is not subscriptable